* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Audiowide";
  src: url(template/fonts/audiowide-regular-webfont.ttf);
}

.white-text-audiowide {
  color: #ffffff;
  font-family: Audiowide;
  text-decoration: none;
}

.white-text-arial {
  color: #ffffff;
  font-family: Arial;
  text-decoration: none;
}

.bg-wrap {
  background: url(img/bg_wide.jpg) no-repeat scroll center top #000000;
}

.header {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 60px;
}

.subblock {
  max-width: 940px;
  min-height: 60px;
  margin: 0 auto;
}

.subblock img {
  margin-right: 40px;
  float: left;
}

.subblock ul {
  display: inline-block;
  float: right;
  list-style: none;
  width: auto;
}

.subblock ul li {
  display: inline-block;
  float: left;
  width: auto;
}

.subblock ul li:hover {
  background-color: #000000;
}

.subblock ul li a {
  display: block;
  width: auto;
  min-height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 24px;

  font-size: 18px;
  text-transform: uppercase;
}

.section-1 {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

.satellite-section {
  position: relative;
  min-height: 484px;
}

.satellite {
  display: inline-block;
  float: left;
  position: relative;
}

.satellite img {
  display: block;
  position: absolute;
  top: 40px;
  left: 10px;
}

.twohead-button {
  position: relative;
  margin: 170px 0 0 410px;
  display: inline-block;
  float: left;
}

.twohead-button h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: normal;
  line-height: 60px;
  text-align: center;
  margin-bottom: 28px;
}

.twohead-button h2 {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: normal;
  line-height: 42px;
  text-align: center;
  margin-bottom: 28px;
}

.twohead-button a {
  display: block;

  color: #a3a3a3;
  background-color: #000000;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  margin: 0 auto;

  width: 180px;
  height: 50px;
}

.twohead-button a:hover {
  color: #ffffff;
  background-color: #3c0f38;
}

.featured-projects {
  max-width: 960px;
}

.featured-projects p{
  margin: 20px 10px 0;
  color: #a3a3a3;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: Audiowide;
  font-size: 23px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}

.featured-projects ul{
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.featured-projects ul li{
  display: inline-block;
  float: left;
}

.our-mission {
  margin-top: -10px;
  padding: 30px 10px 30px;
  background-color: #630031;
}

.text-block {
  max-width: 960px;
  margin: 0 auto;
}

.text-block h1 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 32px;
}

.text-block p {
  display: block;
  margin: 0 auto;
  max-width: 780px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.text-block a {
  text-decoration: underline;
}

.media-block {
  padding: 40px 0 40px;
  background-color: #000000;
}

.media-block h1 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: normal;
}

.media-subblock {
  max-width: 940px;
  margin: 0 auto;
  min-height: 370px;

}

.video {
  margin-right: 50px;
  display: inline-block;
  float: left;
  min-height: 400px;
}

.blog {
  display: inline-block;
  float: left;
  min-height: 400px;
}

.blog ul {
  display: inline-block;
  list-style: none;
  width: 430px;
}

.blog li {
  border-top: 1px solid #a3a3a3;
  float: left;
  width: 100%;
  padding-bottom: 35px;
  padding-top: 35px;
}

.blog li:first-child {
  border: none;
  padding-top: 0;
}

.blog li img {
  float: left;
}

.blog li h3 {
  color: #a3a3a3;
  float: left;
  font-size: 22px;
  font-weight: normal;
  padding: 4px 10px 8px;
  width: 300px;
  text-transform: uppercase;
}

.blog li p {
  display: block;
  float: left;
  line-height: 14px;
  margin: 0 10px 10px;
  width: 310px;
  text-transform: uppercase;
}

.blog li a {
  display: inline-block;
  float: right;
  background-color: #3c0f38;
  text-transform: uppercase;
  line-height: 35px;
  text-align: center;
  width: 130px;
  height: 35px;
}

.blog li a:hover {
  background-color: #620031;
}

.follow {
  background-color: #a3a3a3;
  height: 80px;
}

.follow div {
  margin: 0 auto;
  max-width: 700px;
}

.follow span {
  display: inline-block;
  float: left;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 80px;
  text-align: center;
}

.links {
  display: inline-block;
  float: left;
  height: 80px;
  padding-left: 20px;
}

.follow a {
  display: inline-block;
  float: left;
  width: 45px;
  height: 45px;
  margin: 15px 15px 0;
}

.facebook {
  background: url(img/facebook-logo.png) no-repeat scroll center #a3a3a3;
}

.twitter {
  background: url(img/twitter-logo.png) no-repeat scroll center #a3a3a3;
}

.google-plus {
  background: url(img/google-plus-logo.png) no-repeat scroll center #a3a3a3;
}

.pinterest {
  background: url(img/pinterest-logo.png) no-repeat scroll center #a3a3a3;
}

.copyright p {
  line-height: 80px;
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase;
  max-width: 345px;
  margin: 0 auto;
}